@page "/"
@using System.Security.Claims
@using BlazorApp2.Services.Interfaces
@inject IGraphService2 _graphService

<h1>Hello, world!</h1>

Welcome to your new app.
<br /><br />

Users: <br />
<ul>
    @foreach (var user in users)
    {
        <li>@user</li>
    }
</ul>

@code
{
    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }

    ClaimsPrincipal user = new ClaimsPrincipal();
    List<string> users = new List<string>();
    string token = "empty";

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            token = user.Claims.FirstOrDefault(c => c.Type == "token")?.Value;
            users = await _graphService.GetAllUserDisplayNames(token);
        }
    }
}
